#body
{
	min-height: 200px;
	padding: 40px;
	width: calc(100% - 80px);
}

#body > h1
{
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center;
}

#body > div
{
	text-align: center;
}

#contact_text_box
{
	display: inline-block;
	text-align: left;
}

#contact_icon
{
	float: left;
	margin-left: 20px;
	margin-right: 60px;
	display: inline-block;
}

#contact_text_box > p
{
	display: inline-block;
	width: 500px;
	margin-top: 30px;
}
