.home_guide
{
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	width: 300px;
	vertical-align: top;
	padding: 20px;
	border: 1px solid #aaaaaa;
	text-align: left;
}

.home_guide_metadata
{
	color: #636363;
}

.home_guide > p
{
	height: 150px;
	margin-top: 10px;
}

#home_guides_explanation
{
	margin-top: 10px;
}