#home_under_construction_box
{
	padding: 30px;
	text-align: center;
}

#home_under_construction
{
	border: 1px solid #630000;
	background-color: #fcbbbb;
	color: #000000;
	padding: 10px;
	display: inline-block;
	text-align: left;
}

#home_under_construction > p
{
	font-size: 14px;
}

#home_presentation
{
	position: relative;
	height: 500px;
	overflow: hidden;
}

.home_presentation_box
{
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
	position: absolute;
	padding: 20px;
}

#home_presentation_welcome_box
{
	left: 20px;
	top: 240px;
}

#home_presentation_welcome_box > h1
{
	font-size: 30px;
}

#home_presentation_welcome_box > p
{
	margin-top: 20px;
	width: 600px;
}

#home_presentation_whats_science
{
	top: 240px;
	right: 20px;
	width: 400px;
}

#home_presentation_whats_science > div > h2
{
	font-size: 24px;
}

#home_presentation_whats_science > img
{
	float: left;
	width: 100px;
	margin-right: 30px;
	margin-top: 40px;
}

#home_presentation_whats_science > div > p
{
	margin-top: 20px;
}

#home_background
{
	width: 100%;
}

.home_section
{
	padding: 20px;
	text-align: center;
}

.home_section > h2
{
	text-align: center;
	font-size: 36px;
}

#home_articles_explanation
{
	margin-top: 10px;
}

#home_organization
{
	background-color: #35b3fc;
	padding: 0px;
	padding-left: 100px;
	text-align: left;
}

#home_organization_content
{
	background-color: #ffffff;
	display: inline-block;
	width: 1200px;
	padding: 20px;
}

#home_organization_content > p
{
	margin-top: 20px;
}

#home_organization_content > h2
{
	text-align: center;
	font-size: 36px;
}

#home_organization_box
{
	text-align: center;
}

#home_organization_picture
{
	display: inline-block;
	width: 300px;
	margin-left: 50px;
	margin-top: 50px;
	vertical-align: top;
}

#home_organization_explanation
{
	display: inline-block;
	width: 600px;
	text-align: left;
}

#home_organization_explanation > li
{
	margin-top: 20px;
}

#home_open_science
{
	background-color: #aa2afa;
	padding: 0px;
	padding-right: 100px;
	text-align: right;
}

#home_open_science_content
{
	display: inline-block;
	background-color: #ffffff;
	text-align: center;
	width: 1200px;
}

#home_open_science_content > h2
{
	text-align: center;
	font-size: 36px;
}

#home_open_science_logo
{
	display: inline-block;
	width: 400px;
	margin-right: 100px;
}

#home_open_science_text
{
	display: inline-block;
	width: calc(100% - 500px - 100px - 100px);
	vertical-align: top;
	margin-top: 50px;
	text-align: left;
}

.home_book
{
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	width: 300px;
	vertical-align: top;
	padding: 20px;
	border: 1px solid #aaaaaa;
	text-align: center;
	height: 400px;
}

.home_book > h3
{
	font-size: 20px;
	margin-top: 10px;
}

.home_book > a
{
	margin-top: 10px;
}

.home_book > div,.home_book > p
{
	text-align: left;
	margin-top: 10px;
}

.home_book > div > span
{
	color: #636363;
}

.home_book_image
{
	display: inline-block;
	width: 180px;
}

#home_history
{
	text-align: center;
	padding-bottom: 40px;
}

#home_history_text
{
	display: inline-block;
	width: 700px;
	margin: 0 auto;
	vertical-align: top;
}

#home_history_text > h2
{
	font-size: 36px;
	margin-bottom: 10px;
}

#home_history_text > p
{
	text-align: left;
}

#home_history_picture
{
	display: inline-block;
	width: 200px;
}

#home_starting_science
{
	background-color: #333333;
	padding: 0px;
	text-align: center;
}

#home_starting_science_content
{
	display: inline-block;
	background-color: #ffffff;
	text-align: center;
	width: 1200px;
}

#home_starting_science_content > h2
{
	text-align: center;
	font-size: 36px;
}

#home_starting_science_icon
{
	display: inline-block;
	width: 400px;
}

#home_starting_science_text
{
	display: inline-block;
	width: 600px;
	vertical-align: top;
	margin-top: 50px;
	text-align: left;
}

#home_open_science_link
{
	display: inline-block;
	margin-top: 20px;
}

#home_starting_science > p
{
	margin-top: 20px;
}

.home_member
{
	width: 400px;
	text-align: center;
}

.home_member > p
{
	margin-top: 10px;
}

.home_member > address
{
	font-style: normal;
}

.home_view_all_box
{
	text-align: center;
	margin-top: 20px;
}

.home_view_all
{
	display: inline-block;
	border: 1px solid #003f8c;
	color: #003f8c;
	background-color: #cfeafa;
	padding: 5px 20px;
	width: 500px;
	text-align: center;
}
