#home_under_construction_box
{
	padding: 30px;
	text-align: center;
}

#home_under_construction
{
	border: 1px solid #630000;
	background-color: #fcbbbb;
	color: #000000;
	padding: 10px;
	display: inline-block;
	text-align: left;
}

#home_under_construction > p
{
	font-size: 14px;
}

#home_presentation
{
	position: relative;
	height: 500px;
	overflow: hidden;
}

#home_presentation > div
{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left: 20px;
	top: 260px;
	padding: 20px;
}

#home_presentation > div > h1
{
	color: #ffffff;
	font-size: 30px;
}

#home_presentation > div > p
{
	color: #ffffff;
	margin-top: 20px;
	width: 600px;
}

#home_background
{
	width: 100%;
}

.home_section
{
	padding: 20px;
}

.home_section > h2
{
	text-align: center;
	font-size: 36px;
}

#home_organization > p
{
	margin-top: 20px;
}

#home_organization_box
{
	text-align: center;
}

#home_organization_picture
{
	display: inline-block;
	width: 300px;
	margin-left: 50px;
	margin-top: 50px;
	vertical-align: top;
}

#home_organization_explanation
{
	display: inline-block;
	width: 600px;
}

#home_organization_explanation > li
{
	margin-top: 20px;
}

#home_open_science
{
	text-align: center;
}

#home_open_science_logo
{
	display: inline-block;
	width: 400px;
	margin-right: 100px;
}

#home_open_science_text
{
	display: inline-block;
	width: calc(100% - 500px - 100px - 100px);
	vertical-align: top;
	margin-top: 50px;
	text-align: left;
}

#home_history
{
	text-align: center;
	padding-bottom: 40px;
}

#home_history_text
{
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
}

#home_starting_science
{
	text-align: center;
}

#home_starting_science_icon
{
	display: inline-block;
	width: 400px;
}

#home_starting_science_text
{
	display: inline-block;
	width: 600px;
	vertical-align: top;
	margin-top: 50px;
	text-align: left;
}

#home_open_science_link
{
	display: inline-block;
	margin-top: 20px;
}

#home_starting_science > p
{
	margin-top: 20px;
}

.home_member
{
	width: 400px;
	text-align: center;
}

.home_member > p
{
	margin-top: 10px;
}

.home_view_all_box
{
	text-align: center;
	margin-top: 20px;
}

.home_view_all
{
	display: inline-block;
	border: 1px solid #003f8c;
	color: #003f8c;
	background-color: #cfeafa;
	padding: 5px 20px;
	width: 500px;
	text-align: center;
}
