.home_new
{
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	width: 300px;
	vertical-align: top;
	padding: 20px;
	border: 1px solid #aaaaaa;
}

.home_new_metadata
{
	color: #636363;
}

.home_new_author
{
	margin-left: 20px;
}
