#open_access_logo
{
	float: left;
	width: 100px;
	margin-right: 40px;
}

#open_access_venn_diagram
{
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#open_science_doaj_link, #open_science_okf_link
{
	display: inline-block;
	margin-top: 10px;
}

.open_science_creative_commons_icon
{
	width: 32px;
}

#body
{
	padding: 30px;
	width: auto !important;
}

#body > h1
{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

#body > h2
{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}