---
layout: central_layout
header: <link rel="stylesheet" href="/assets/articles.css"><link rel="stylesheet" href="/assets/articles_list.css">
---

{% assign author = site.authors | where: "name", page.name | first %}
<h1>Articles of {{ author.publishing_name }}</h1>
<p>All those articles have been written by <strong>{{ author.publishing_name }}</strong>. You can know about him <a href="{{ author.website }}" class="text_link">here</a>.</p>
{% assign filtered_posts = site.posts | where_exp:"item", "item.authors contains page.name" %}
{% include articles_list.html articles_list=filtered_posts articles_limit=50 %}
