<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TDZFZJS80C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TDZFZJS80C');
</script>
	<title>{{ page.header_title }}</title>
	<meta charset="UTF-8">
	<meta name="description" content="Scifir is a digital foundation committed to research and to improve science. It works independently, it develops open source projects, and it allows any scientist to join any project inside Scifir, as open source on informatics allows it to developers.">
	<meta name="keywords" content="science,scientist,inventor,inventions,physics,chemistry,biology,informatics,genetics,creational biology,homunculous,genetic engineering,science fiction,open source">
	<meta name="author" content="Ismael Correa Castro (ORCID 0009-0007-3815-7053, RUN 17.705.429-1)">
	<link rel="icon" type="image/x-icon" href="/assets/scifir-favicon.png">
	<link rel="stylesheet" href="/assets/reset.css">
	<link rel="stylesheet" href="/assets/central_layout.css">
	{{ page.header }}
	{{ layout.header }}
</head>
<body>
	<header id="header">
		<a href="/" id="header_logo">Scifir</a>
		<nav id="top_links" aria-label="central webpages">
			<a href="/">Home</a>
			<a href="/news">News</a>
			<a href="/projects">Projects</a>
			<a href="/articles">Articles</a>
			<a href="/guides">Guides</a>
		</nav>
		<nav id="secondary_links" aria-label="information webpages">
			<a href="/participate">Participate</a>
			<a href="/about">About</a>
			<a href="/history">History</a>
			<a href="/members">Members</a>
			<a href="/contact">Contact</a>
		</nav>
		<a href="mailto:scifir.foundation@gmail.com" id="header_email_icon" class="header_icon"><img src="/assets/layout/email-icon.png" alt="Send e-mail to Scifir"></a>
		<a href="https://github.com/scifir" id="header_github_icon" class="header_icon"><img src="/assets/layout/github-icon.png" alt="GitHub profile of Scifir"></a>
	</header>
	<main id="body">
	{{ content }}
	</main>
	<footer id="footer">
		<h2>Scifir</h2>
		<a href="mailto:scifir.foundation@gmail.com" id="footer_email_icon"><img src="/assets/layout/email-icon.png" alt="Send e-mail to Scifir"></a>
		<a href="https://github.com/scifir" id="footer_github_icon"><img src="/assets/layout/github-icon.png" alt="GitHub profile of Scifir"></a>
		<p id="footer_presentation">Hello! Scifir is a digital foundation committed to improve science. At the present, it's <strong>improving technologies for personal laboratories</strong> in order to ammeliorate <strong>independent research</strong>, as well as publishing articles about scientific topics, centrally creational biology, which is a branch of biology created by <a href="https://iarfen.github.io" class="text_link">Ismael Correa Castro</a>, the founder of Scifir.
		<br>
		<br>
		Scifir is a <strong>digital foundation</strong>, which means it's a foundation that operates over the web, and not inside any specific country.</p>
	</footer>
</body>
</html>
